<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <form method="post" action="/code">
            <input type="text" placeholder="Your Phone Number" value="" />
            <input type="submit" value="Generate code" />
        </form>
    </body>
</html>
